<!DOCTYPE html>
<html>
	<head>
		<title>Angular MVC Sample</title>
		<link rel="stylesheet"  href="main.css" />
	</head>
	<body>
		<div data-ng-app="custApp" data-ng-controller="customerCtrl">
			<h3>Customers</h3>
			Search: <input type="text" name="cname" ng-model="name" />
			<div class="grid-header">
				<div ng-click="sortField='name'">Name</div>
				<div ng-click="sortField='city'">City</div>
				<div ng-click="sortField='salary'">Salary</div>
			</div>
			<div class="grid-row" ng-repeat="cust in customers | filter: name | orderBy:sortField" >
				<div enter> {{cust.name}}</div>
				<div enter> {{cust.city}}</div>
				<div enter> {{cust.salary | currency }}</div>
			</div>
		</div>
		<script type="text/javascript" src="angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	</body>
</html>

<script type="text/javascript">
	var app = angular.module('custApp', []);
	function customerCtrl($scope) {
		$scope.customers = [
			{ name: 'Prasanna', city:'Bangalore', salary:95000},
			{ name: 'Raju', city: 'Chikmangalur', salary:88200},
			{ name: 'Tejaswini', city: 'Shimoga', salary:99850},
			{ name:'Krishna', 	city: 'Bangalore', salary: 9999999}
			];
	}

	app.directive('enter', function(){
		return function(scope, element){
			var tooltipEle = $("<div></div>");
			element.bind('mouseenter', function(){
				var tooltipValue = scope.cust.name +" is leaving in the city, " + scope.cust.city + ". And getting salary "+ scope.cust.salary;
				tooltipEle.html(tooltipValue);
				tooltipEle.css({ 'position':'absolute','background-color':'black',
					'border':'1px solid green','width':'150px','border-radius':'5px','margin-top':'25px','margin-left':'-30px',
					'color':'#fff', 'padding':'4px 20px' });
				tooltipEle.appendTo(element);
			});

			element.bind('mouseleave', function(){
				tooltipEle.remove();
			});

			
		}
	})
</script>